/* ? COMPONENTS CSS */

/* ? HEADER */

.header {

    width: 100%;
    height: 12%;
    padding: 0.3125rem 3.75rem; /* 5px = 0.3125rem, 60px = 3.75rem */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-gradient-header);
    position: fixed;

}

.logo-image .logo-link {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* 8px = 0.5rem */
    color: var(--color-base-light1);
    font: bolder 2rem/3.5rem var(--font-family); /* 32px = 2rem, 56px = 3.5rem */

}

.navbar {

    padding: 0.5rem 0.75rem; /* 0.5rem = 8px, 0.75rem = 12px */

}

.navbar .nav-items {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem; /* 4rem = 64px */

}

.nav-item .item-link {

    color: var(--color-base-light3);
    font-size: 1.2rem; /* 1.2rem = 19.2px */
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.05rem; /* 0.05rem = 0.8px */
    transition: all 0.5s ease-in-out;

}

.nav-item .item-link:hover {

    color: var(--color-base-light1);

}

.nav-item.active .item-link {

    color: var(--color-base-light1);
    border-bottom: var(--border-link-active);

}

.btn-mobile-box {

    display: none;
    transition: all 0.1s ease;

}

.btn-default {

    background: transparent;

}

.btn-default i {

    font-size: 1.8rem; /* 1.8rem = 28.8px */
    color: var(--color-base-light);
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

/* ~ TECNOLOGIA CSS */

.btn-link-tecnologia {

    padding: 0.5rem 1.5rem; /* 8px = 0.5rem, 24px = 1.5rem */
    border-radius: 0.5rem; /* 8px = 0.5rem */
    font-size: 1rem; /* 16px = 1rem */
    font-weight: 600;
    letter-spacing: 0.035rem; /* 0.035rem = 0.56px */
    text-transform: uppercase;
    color: var(--color-base-light);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

#html_btn {

    background: var(--color-html);

}

#html_btn:hover {

    background: var(--color-html-bg);

}

#css_btn {

    background: var(--color-css);

}

#css_btn:hover {

    background: var(--color-css-bg);

}

#js_btn {

    background: var(--color-js);

}

#js_btn:hover {

    background: var(--color-js-bg);

}

#react_btn {

    background: var(--color-react);

}

#react_btn:hover {

    background: var(--color-react-bg);

}

#node_btn {

    background: var(--color-node);

}

#node_btn:hover {

    background: var(--color-node-bg);

}

#php_btn {

    background: var(--color-php);

}

#php_btn:hover {

    background: var(--color-php-bg);

}

/* ? FOOTER CSS */

.footer {

    width: 100%;
    height: 8%;
    background: var(--color-base-dark);
    color: var(--color-base-light4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem; /* 2rem = 32*/
}

.footer .link-github {

    color: var(--color-primary3);
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s ease-in-out;

}

.link-github::after {

    position: absolute;
    content: "";
    width: 25%;
    height: 4px;
    background: var(--color-primary3);
    border-radius: 2px;
    bottom: -2px;
    left: 0px;
    transition: all 0.5s ease-in-out;

}

.footer .link-github:hover {

    color: var(--color-primary5);

}

.footer .link-github:hover::after {

    width: 100%;
    background: var(--color-primary5);

}