/* ? RESPONSIVE CSS */

/* ~ HEADER */

@media screen and (max-width: 1300px) {

    .main .tecnologias .cards {

        grid-template-columns: 1fr;

    }

}

@media screen and (max-width: 900px) {

    .navbar {

        display: none;
        opacity: 0;

    }

    .btn-mobile-box {

        display: block;

    }

    .navbar.active {

        position: absolute;
        display: block;
        content: "";
        width: 30%;
        height: auto;
        top: 93px;
        right: 20px;
        background: var(--color-gradient-nav);
        padding: 2.5rem 1.125rem; /* 2.5rem = 40px, 1.125rem = 18px */
        border-radius: 8px;
        z-index: 1000;
        opacity: 1;
        /* animation: navMobileStart 0.5s ease-in-out; */

    } 

    .navbar.active .nav-items {

        flex-direction: column;
        text-align: left;
        align-items: start;
        justify-content: left;

    }

    .main .hero .hero-title {

        font-size: 3rem; /* 3rem = 48px */

    }

    .main .hero .hero-description {

        font-size: 1.1rem; /* 1.1rem = 17.6px */

    }

}

@media screen and (max-width: 500px) {

    
    .navbar.active {

        position: absolute;
        display: block;
        content: "";
        width: 90%;
        height: auto;
        top: 90px;
        right: 20px;
        background: var(--color-gradient-nav);
        padding: 2.5rem 1.125rem; /* 2.5rem = 40px, 1.125rem = 18px */
        border-radius: 8px;
        z-index: 1;

    } 

    .main .hero .hero-title {

        font-size: 2rem; /* 2rem = 32px */

    }

    .main .hero .hero-description {

        font-size: 1rem; /* 1rem = 1px */

    }



}

@media screen and (max-width: 400px) {

    .header {

        padding: 0.5rem 0.5rem; /* 0.5rem = 8px */

    }

    .main .hero .hero-description {

        font-size: 1rem; /* 1rem = 16px*/
        line-height: 1.4rem; /* 1.4rem = 22.4px */

    }

    .main .hero .hero-title {

        font-size: 1.4rem; /* 1.4rem = 22.4px */

    }

    .main .hero .hero-description {

        font-size: 0.5rem; /* 0.5rem = 8px */

    }

}