/* ? IMPORT FONT's */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap');

/* ? IMPORTS CSS */
@import "./variables.css";
@import "./reset.css";
@import "./components.css";
@import "./resposive.css";
@import "./animation.css";

/* ? GLOBAL CSS */

.main {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* 2rem = 32px */

}

.main .hero {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 2rem; /* 0px  2rem = 32px */

}

.hero .hero-title {

    text-align: left;
    font-family: var(--font-family);
    font-size: 4.4rem; /* 4.4rem = 70.4px */
    font-weight: bold;
    background: var(--color-gradient-h1-hero-index);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: var(--stroke-text-h1-hero-index);
    text-shadow: var(--shadow-text-h1-hero-index);
    position: relative;

}

.hero .hero-title::after {

    position: absolute;
    content: "|";
    color: var(--color-base-light3);
    margin-left: 0.25rem; /* 4px = 0.25rem */
    -webkit-text-stroke: var(--stroke-text-h1-hero-index);
    text-shadow: var(--shadow-text-h1-hero-index);
    animation: machineWriter 0.9s infinite;
    top: -4px;
    

}

.subtitle {

    text-align: left;
    font-family: var(--font-family);
    font-size: 2.4rem; /* 2.4rem = 38.4px */
    font-weight: bold;
    background: var(--color-gradient-h1-hero-index);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: var(--stroke-text-h1-hero-index);
    text-shadow: var(--shadow-text-h1-hero-index);

}

.hero .hero-description {

    font-size: 1.2rem; /* 1.2rem = 19.2px */
    line-height: 1.6rem; /* 1.6rem = 25.6px */
    color: var(--color-base-light3);
    letter-spacing: 0.0725rem; /* 0.0725rem = 1.16px */
    max-width: 46ch; /* Quantidade de caracteres por largura = maxímo 46 caracteres */
 
}

.tecnologias {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem; /* 1.4rem = 22.4px */
    padding: 0px 3rem 3rem 3rem; /* 3rem = 48px */

}

.tecnologias .subtitle {

    text-align: center;
    margin-bottom: 1.2rem; /* 1.2rem = 19.2px */

}

.tecnologias .cards {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.4rem; /* 1.4rem = 22.4px */

}

.cards .card {

    height: auto;
    background: var(--color-base-dark2);
    padding: 1.875rem 1.875rem; /* 1.875rem = 30px */
    border-radius: 0.5rem; /* 0.5rem = 8px */
    display: flex;
    gap: 1.4rem; /* 1.4rem = 22.4px */
    border: 2px solid;

}

#html_card {

    border-color: var(--color-html-bg);

}

#html_title {

    color: var(--color-html);

}

#css_card {

    border-color: var(--color-css-bg);

}

#css_title {

    color: var(--color-css);

}

#js_card {

    border-color: var(--color-js-bg);

}

#js_title {

    color: var(--color-js);

}

#react_card {

    border-color: var(--color-react-bg);

}

#react_title {

    color: var(--color-react);

}

#node_card {

    border-color: var(--color-node-bg);

}

#node_title {

    color: var(--color-node);

}

#php_card {

    border-color: var(--color-php-bg);

}

#php_title {

    color: var(--color-php);

}

.card .description-tecnologia {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem; /* 1rem = 16px*/

}

.card .description-tecnologia .tecnologia-title {

    font-size: 1.4rem; /* 1.4rem = 22.4px */
    letter-spacing: 0.0025rem; /* 0.0025rem = 0.04px */

}

.card .description-tecnologia .text-content {

    font-size: 1.125rem; /* 1.125rem = 18px */
    letter-spacing: 0.035rem; /* 0.035rem = 0.56px */
    line-height: 30px;
    font-weight: 300;
    line-height: 1.875rem; /* 30px = 1.875rem */
    color:  var(--color-base-light3);

}

