/* ? VARIABLES CSS */

:root {

    /* ? COLORS CSS */

    /* & ========== LIGHT ======== */
    --color-base-light:  #FFFFFF;
    --color-base-light1: #FAFAFA;
    --color-base-light3: #BDBDBD;
    --color-base-light4: #AFAFAF;

    /** ========== DARK ======== */
    --color-base-dark4:  #363636;
    --color-base-dark2:  #171717;
    --color-base-dark:   #000000;

    /*^ ========== COLORS TECHS ======== */

    --color-html:    #F06431;
    --color-html-bg: #e34f26d2;

    --color-css:     #2859EB;
    --color-css-bg:  #082cbad2;

    --color-js:      #bdaa05;
    --color-js-bg:   #8b7e01e5;

    --color-react:   #36bddf;
    --color-react-bg:#1893b2da;

    --color-node:    #72AA61;
    --color-node-bg: #346127d3;
    
    --color-php:     #777BB3;
    --color-php-bg:  #303469d2;


    /* ~ ========== PRIMARY ======== */
    --color-primary1: #8342E5;
    --color-primary2: #8844EE;
    --color-primary3: #7038C3;
    --color-primary4: #5C2FA1;
    --color-primary5: #49257F;
    
    /*  ========== GRADIENTS COLORS ======== */

    /* & COLORS GRADIENTS */
    --color-base-dark01-gradient-header:  #000000;
    --color-base-dark-gradient-header:   #000000e7;

    --color-base-dark01-gradient-hero:  #00000000;
    --color-base-dark-gradient-hero:   #000000ce;

    --color-base-dark-nav-mobile-bg: #000000d5;
    --color-base-dark-nav-mobile-bg1: #121212f1;

    /*  ========== GRADIENTS ======== */

    --color-gradient-dark-hero: linear-gradient(to bottom, var(--color-base-dark01-gradient-hero) 10%, var(--color-base-dark01-gradient-hero) 20%, var(--color-base-dark-gradient-hero) 50%), url("./../../assets/imgs/background-hero1.png");
    --color-gradient-nav: linear-gradient(90deg, var(--color-base-dark-nav-mobile-bg) 0%, var(--color-base-dark-nav-mobile-bg1) 100%);
    --color-gradient-header: linear-gradient(90deg, var(--color-base-dark-gradient-header) 0%, var(--color-base-dark01-gradient-header) 100%);
    --color-gradient-h1-hero-index: linear-gradient(90deg,  var(--color-base-dark-gradient-header) 5%, var(--color-primary4) 10%,var(--color-primary2) 35%, var(--color-primary1) 75%,  var(--color-primary4) 80% var(--color-base-dark-gradient-header) 90%);
    --color-gradient-body: linear-gradient(90deg, var(--color-base-dark-gradient-header) 40%, var(--color-base-dark01-gradient-header) 100%);

    /* ? ========== FONTS CSS ========== */
    --font-family: "Oswald", sans-serif;

    /* ? ========== BORDERS CSS ========== */
    --border-link-active: 2.3px solid var(--color-primary1);

    /* ? ========== SHADOW TEXT CSS ========== */
    --shadow-text-h1-hero-index: 0px 0px 10px var(--color-primary3);

    /* ? ========== STROKER TEXT CSS ========== */
    --stroke-text-h1-hero-index: 1.5px var(--color-base-light3);



}